@using OdeToFood.Core
@model Restaurant

<div class="card m-lg-4">
    <div class="card-header">@Model.Name</div>
    <div class="card-body">
        <p>Location: @Model.Location</p>
        <p>Cuisine: @Model.Cuisine</p>
    </div>
    <div class="card-footer">
        <td><a class="btn btn-lg" asp-page="./Detail" asp-route-restaurantId="@Model.Id"><i class="fas fa-search-plus"></i></a></td>
        <td><a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@Model.Id"><i class="fas fa-edit"></i></a></td>
        <td><a class="btn btn-lg" asp-page="./Delete" asp-route-restaurantId="@Model.Id"><i class="fas fa-trash-alt"></i></a></td>
    </div>
</div>